<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="float: left;">Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll background" *ngIf="selectedItem" padding>

  <!-- Image -->
  <ion-card class="card-element card-common">
    <ion-card-content>
      <img src="{{selectedItem.imgsrc}}">
    </ion-card-content>  
  </ion-card>

  <!-- Short Description -->
  <ion-card class="card-element card-common">
    <ion-card-content>
      <p class="left-header">{{selectedItem.title}}</p>
      <hr>
      <p>{{selectedItem.shodesc}}</p>
    </ion-card-content>  
  </ion-card>

</ion-content>
