<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="float: left;">Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content overflow-scroll="false" class="background" padding>
  <ion-card class="card-common">

    <ion-card-header class="header">
      DigitalCam List
    </ion-card-header>

    <hr>

    <ion-card-content class="content">
      <p>
        Benvenuto!
      </p>
      <p>
        Puoi usare il menu laterale per arrivare alla lista di videocamere.
      </p>
    </ion-card-content>

  </ion-card>
</ion-content>