<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="float: left;">Cameras</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background" padding>
  <ion-card class="card-element card-common" *ngFor="let item of items" (click) ="itemTapped($event, item)">
    <ion-card-content>
      <img src="{{item.imgsrc}}">
      <hr>
      <footer class="title">{{item.title}}</footer>
    </ion-card-content>  

  </ion-card>
</ion-content>
